@model IEnumerable<CustomerManage.Models.ViewCustomInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactCount)
        </td>
    
    </tr>
}

</table>
